* {
  box-sizing: border-box;
}

/* usual webpage things */
body {
  margin: 0;
  background-color: #367761;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  margin: 0;
}

main {
  background-color: white;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
  padding: 20px 20px 10px;
  border-radius: 10px;
  box-shadow: 6px 4px 14px 0px;
}

.game-info {
  display: flex;
  margin: 0 0 10px;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 100%;
  box-shadow: 1px 1px 4px 1px inset;
}

.game-info p {
  border: 1px dashed #f2ecec;
  width: calc(100% / 3 - 10px);
  text-align: left;
  padding: 5px 10px;
  margin: 5px;
  text-shadow: 2px 1px 1px lightgrey;
}

#start-btn {
  margin-top: 10px;
  background-color: #00cf74;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  border-color: aquamarine;
}
#start-btn {
  cursor: pointer;
}
#start-btn:disabled {
  margin-top: 10px;
  background-color: #afafaf;
  border-radius: 20px;
  padding: 5px 20px;
  color: rgb(84, 84, 84);
  border-style: none;
}
#mute-btn{
  border-style: none;
  background-color: white;
}
#mute-btn:hover{
  cursor: pointer;
}
#instructions {
  position: fixed;
  font-size: larger;
  width: 300px;
  padding: 20px;
  background-color: rgb(255 255 255 / 85%);
  border-radius: 5px;
}

#gameover {
  position: absolute;
  font-size: xxx-large;
  font-weight: 700;
  display: none;
  background-color: aliceblue;
  padding: 40px;
  border-radius: 20px;
}

/* grid stuff  */
.game-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px 1px inset;
  border-radius: 5px;
  overflow: hidden;
  background-image: url(../assets/background.png);
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  flex-grow: 1;
  height: 20%;
  width: 20%;
}


/* in game stuff */
.player {
  background-image: url(../assets/frog.gif);
  background-position: center;
  background-repeat: none;
  background-size: contain;
  filter: drop-shadow(3px 2px 2px black);
}

.car{
  background-image: url(../assets/car1.gif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  filter: drop-shadow(3px 2px 2px black);

}

.snake {
  background-image: url(../assets/snake.gif);
  transform: scaleX(-1);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  filter: drop-shadow(3px 2px 2px black);

}
.red-snake {
  background-image: url(../assets/snake.gif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  filter: drop-shadow(3px 2px 2px white) invert();
  

}

.duck{
  background-image: url(../assets/duck1.gif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  filter: drop-shadow(3px 2px 2px black);

}

.finish {
  color: white;
}

.bad {
  background-color: lightsalmon;
}

.home {
  color:#00cf74;
}